<nav class="nav">
    <h1><a routerLink="/">E-COMM</a></h1>
    
    <div *ngIf="menuType==='default'"  class="nav-search">
        <input type="text" name="" placeholder="Search Product" (keyup)="searchProduct($event)" (blur)="hideSearch()" #searchInput>
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-search" *ngIf="searchResult">
            <li *ngFor="let item of searchResult" >
                <a (mousedown)="redirectToDetails(item.id)" href=>{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
      <ul *ngSwitchCase="'default'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">seller</a></li>
            <li><a routerLink="/user-auth">login/Signup</a></li>
            <li><a routerLink="">cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="user-auth">{{userName}}</a></li>
            <li><a (click)="userLogout()" >Logout</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a routerLink="/seller-home">List</a></li>
            <li><a (click)="logout()">logout</a></li>
            <li><a href="#"></a>{{sellername}}</li>
        </ul>
    </div>


</nav>